body {
  font-family: "Ubuntu", sans-serif;
  background-color: blanchedalmond;
}

h1 {
  text-align: center;
  font-size: 1.8em;
}

.box-containers {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3em;
}

.box {
  border: 10px solid black;
  border-radius: 25px;
  width: 38%;
  text-align: center;
}

.win {
  border: 10px solid green;
  color: green;
}

.lose {
  border: 10px solid red;
  color: red;
}

.tie {
  border: 10px solid black;
  color: black;
}

.item-img {
  width: 50%;
}

.rock-paper-scissors-btn {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

button {
  background: none;
  border: none;
}

button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.button-title {
  padding-top: 15px;
  color: rgb(121, 88, 38);
  font-size: 2.5em;
}

button img {
  width: 130px;
  height: auto;
}

button div {
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 768px) {
  button {
    width: 80%; /* 버튼 크기를 적절히 조정 */
    margin: 5px 0; /* 버튼 간의 간격을 좀 더 넓게 설정 */
  }

  button img {
    width: 80px; /* 이미지 크기를 모바일에 맞게 조정 */
  }
  .button-title {
    font-size: 2em;
  }
}
